<div class="main-div container-fluid">
    <mat-card class="form-card">
        <form [formGroup]="bloodForm" (submit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="O+" formControlName="O+">    
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="O-" formControlName="O-">
            </mat-form-field>
            <mat-form-field>
                 <input matInput placeholder="A+" formControlName="A+">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="A+" formControlName="A-">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="B+" formControlName="B+">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="B-" formControlName="B-">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="AB+" formControlName="AB+">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="AB-" formControlName="AB-">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" >Save</button>
        </form>
        
    </mat-card>
</div>

